.almas-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    justify-content: center;

    margin-top: 20px;
}
.card ul {
    text-align: left;
    padding-left: 1.5rem;
    margin-top: 0.5rem;
}

.alma-card {
    text-align: center;
}

.alma-card img {
    width: 120px;

    border-radius: 12px;

    transition: 0.3s ease;
}

.alma-card img:hover {
    transform: scale(1.1);
}

.alma-card p {
    margin-top: 10px;
    font-weight: bold;
}

.grid-sobre {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.grid-sobre .card:last-child {
  grid-column: 1 / -1;
}