.btn {
    display: inline-block;
    background: var(--blue);
    padding: 0.9rem 1.5rem;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.btn:hover {
    transform: translateY(-3px);
    background: #1749ad;
}
.back-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--blue);
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 50%;
    display: none;
}
